$background-color: #222;
$main-color: #fff;
$common-button-background: #ccc;
$common-button-background-hover: #ddd;
$right-column-button-background: #e08d1f;
$right-column-button-background-hover: #fda22b;
$top-row-button-background: #444;
$top-row-button-background-hover: #555;
